body{
    color: white;
    background:rgb(129, 9, 129);
    margin: 0px;
     font-family: "Libertinus Serif Display", system-ui;
}
header{
    border-bottom: solid 2px rgb(235, 188, 240);
    padding: 20px;
    font-size: 36px;
    color:rgb(235, 188, 240)
}
section {
    background: rgb(202, 156, 213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}
h1 { 
    font-size: 40px;

}p {
    font-size: 25px;
}
img {
  height: 200px;
}
.chamada-texto {
  display: flex;
}
.chamada-texto {
  display: flex;
  overflow-x: auto;
}

.chamada-texto {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}
section {
  padding-left: 20px;
  padding-right: 20px;
}

